# Ignore visual studio directies and local files
.vscode

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# GameMaker things
.vs/
*/#backups/*
*/Configs/*/*

*/extensions/*/*.cpp
*/extensions/*/*.dll
*/datafiles/ggpo_gml.html
*/datafiles/ggpo_gml_wasm.js
*/datafiles/ggpo_gml_wasm.wasm

*/Debug/
*/Release/
Debug/
Release/
export/*.gmz
export/*.gmez
export/*.yyz
export/*.yymp
export/*.yymps
export/*.png
export/*.zip

*.sdf
help.rtf